# 虚拟环境
.venv_NLP/
venv/
__pycache__/
*.pyc
*.pyd
# HuggingFace本地模型缓存
D:/AI_Cache/
# 大体积推理结果（可选：不想上传csv/图片就放开下面注释）
# results/*.csv
# results/figures/*.png
# 系统缓存
.DS_Store
*.log
*.tmp
# PyCharm工程配置
.idea/
*.sublime-project
